IC_BrivGemFarm_LevelUp_Extra/Data/HeroDefines.json
IC_BrivGemFarm_LevelUp_Extra/Data/Loader/LastTableChecksums.txt 
IC_BrivGemFarm_LevelUp_Extra/Data/Loader/LastGUID_BrivGemFarm_LevelUp.json
IC_BrivGemFarm_LevelUp_Extra/BrivGemFarm_LevelUp_Settings.json
IC_ProcessAffinity_Extra/ProcessAffinitySettings.json
IC_BrivGemFarm_BrivFeatSwap_Extra/BrivGemFarm_BrivFeatSwap_Settings.json
IC_AreaTiming_Extra/AreaTiming_Settings.json
IC_AreaTiming_Extra/LastGUID_AreaTiming.json
IC_BrivGemFarm_HybridTurboStacking_Extra/BrivGemFarm_HybridTurboStacking_Settings.json
IC_RNGWaitingRoom_Extra/RNGWaitingRoom_Settings.json
.idea
